@mixin font($fw, $fs, $lh, $ls, $ta) {
  font-weight: $fw;
  font-size: $fs + px;
  line-height: $lh;
  letter-spacing: $ls + em;
  text-align: $ta;
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// @mixin calc($caunt) {
//   width: calc((100% - 30px * $caunt) / $caunt);
// }

// @mixin media($size) {
//   @media screen and (min-width: $size) {
//     @content;
//   }
// }
