.footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  display: inline-block;
}

.logo-link-light {
  color: var(--secondary-text-color);
}

.address__link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color);
    cursor: pointer;
  }
}

.address__link--place {
  // font-style: normal;
  // font-weight: 400;
  // line-height: 1.71;
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-text-color);
}

.address__link--contact {
  // font-style: normal;
  // font-weight: 400;
  // line-height: 1.71;
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--footer-text-color);
  margin-top: 9px;
  margin-top: 9px;
  display: block;
}

.social {
  margin-left: 70px;
}

.footer-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social__list {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--acent-color);
  }
}

.social__icon {
  fill: var(--background-color);
}

.mail {
  margin-left: auto;
}

.mail-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
}

.mail-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-footer-color);
  padding-left: 16px;
}

.mail-form__btn {
  font-family: inherit;
  display: flex;
  text-align: center;
  min-width: 200px;
  padding: 10px 62px 10px 28px;
  display: block;
  gap: 10px;
  position: relative;
}

.mail-form__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}
