.header {
  background-color: var(--background-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--line-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 88px;

  @include desktop {
    margin-right: 93px;
  }
}

.logo-link-black {
  color: var(--logo-color-text);
}

.menu {
  display: none;

  @include tablet {
    display: flex;
    gap: 50px;
  }
  @include desktop {
    display: flex;
    gap: 50px;
  }
}

.menu__link {
  @include font(500, null, 1.14, 0.02, center);
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0;
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.current {
  color: var(--acent-color);
  position: relative;

  &::after {
    content: ' ';
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.connect {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 96px;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

.connect__item {
  @include desktop {
    display: block;
    .connect & + & {
      margin-left: 50px;
    }
  }
}

// .connect .connect__item + .connect__item {
//   margin-left: 50px;
// }

.connect__link {
  @include font(500, null, 1.14, 0.02, center);
  color: var(--ouwer-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.connect__icon {
  fill: currentColor;
  margin-right: 10px;
}

.menu-open-btn {
  margin-left: auto;
  background-color: transparent;
  color: var(--main-text-color);

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 48px;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.menu_container {
  width: 100%;
  margin: 0 auto;
  padding-left: 48px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-text-color);
  &:hover,
  &:focus {
    fill: var(--acent-color);
  }
}
.mob-menu_list {
  margin-bottom: 30px;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  @include font(500, 40, 1.18, 0.02, center);
  color: var(--main-text-color);

  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.current-mob {
  position: relative;

  &:hover:after {
    content: ' ';
    width: 100%;
    height: 4px;
    background-color: var(--acent-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.mob-connect {
  margin-bottom: 64px;
}
.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect-t__link {
  @include font(500, 34, 1.18, 0.02, null);
  color: var(--acent-color);
}

.mob-connect-m__link {
  @include font(500, 24, 1.17, 0.02, null);
  color: var(--ouwer-text-color);
}
.net {
  display: flex;
  gap: 20px;
}
.net_item {
  position: relative;
  display: flex;
  align-items: center;

  &:not(:nth-child(1)):before {
    content: ' ';
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    position: absolute;
    left: -20px;
  }
}
.net__link {
  @include font(500, 18, 1.22, 0.02, null);
  color: var(--acent-color);
}
