.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: rgba(47, 48, 58, 0.4);
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;

  @include retina {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpg);
  }

  @include tablet {
    max-width: 768px;
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
    }
  }

  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    // width: 1200px;
    max-width: 1600px;
    height: 600px;
    background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpg);
    }
  }
}

.hero__container {
  padding: 0;
  width: 100%;
}

.hero__title {
  @include font(900, 26, 1.62, 0.06, center);
  text-transform: uppercase;
  color: var(--secondary-text-color);
  max-width: 360px;
  margin: 0 auto 30px auto;

  @include desktop {
    @include font(900, 44, 1.36, 0.06, center);
    max-width: 696px;
  }
}

.hero__btn {
  min-width: 216px;
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
}
